{% extends "index/index.html" %}
{% load static %}

{% block extra_meta %}
<meta name="description" content="Este es el formulario para inicio de sesión del usuario">
{% endblock %}

{% block title %}  Iniciar sesión  {% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'iniciar_sesion/css/iniciar_sesion.css' %}">


{% endblock %}



{% block content %}

     

<main class="inicio-sesion">
  
  <div class="inicio-sesion__contenedor">

    <!-- Panel izquierdo -->
    <div class="inicio-sesion__panel">
      <p class="inicio-sesion__mensaje">¡Bienvenido!</p>
    </div>

    <!-- Panel derecho -->
    <div class="inicio-sesion__formulario">
      <form  action="{% url 'iniciar_sesion' %}" method="post" class="formulario" autocomplete="off">
        {% csrf_token %}
        <h1 class="formulario__titulo">Iniciar sesión</h1>

        {% if messages %}

    {% for message in messages %}
     <div class="invalid-feedback d-block">
     <div class="alert alert-{{ message.tags }} alert-dismissible">{{message}}</div>
     </div>
    {% endfor %}

{% endif %}

        {% for field in form %}
        <div class="formulario__grupo">
          <label for="{{ field.id_for_label }}" class="formulario__etiqueta">
            {{ field.label }}
          </label>
          {{ field }}

          <!--Errores del formulario-->
          {% if field.errors %}
            <div class="formulario__errores">
              {% for error in field.errors %}
                <p class="formulario__error">{{ error }}</p>
              {% endfor %}
            </div>
          {% endif %}

          
        </div>
        {% endfor %}

        <div class="mb-4 d-flex justify-content-center">

        <a class="recuperar-contraseña" href="{% url 'reset_password' %}">¿Olvidaste tu contraseña?</a>
        </div>

     

        <button type="submit" class="formulario__boton">Iniciar sesión</button>
      </form>
    </div>
  </div>
</main>



{% endblock %}
