{% extends 'productos/categoria_hombre.html' %}



{% block title %}

Categoría mujer

{% endblock %}


{% block header %}
<header class="hero-header header-mujeres d-flex align-items-end">
  <div class="hero-overlay"></div>
  <div class="container px-4 px-lg-5 pb-5 position-relative">
    <h1 class="hero-title text-white">Mujeres</h1>
    <p class="text-white-50 mb-0 hero-sub">Colección actual</p>
  </div>
</header>
{% endblock %}
    




{% block form %}

        <form method="GET" action="{% url 'categoria_mujer' %}" class="w-100" style="max-width: 560px;" >

    
{% endblock  %}
    
    
    